@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="GetQrCode" asp-controller="QrCode" method="post">
    <input type="text" name="text" class="form-control" placeholder="Informe texto para QR Code"/>
    <input type="submit" value="Gerar" class="btn btn-primary mt-2" />
</form>
